# Conexión a Base de Datos en la Nube (MongoDB Atlas)
MONGODB_URI=mongodb+srv://usuario:password@cluster0.mongodb.net/noteyou?retryWrites=true&w=majority

# Clave Secreta para firma criptográfica de tokens JWT
JWT_SECRET=noteyou_super_secreto_2026

# Nombre de la Base de Datos
DB_NAME=noteyou_production
